.www{
display: flex;
justify-content: center;
align-items: center;
margin-top: 150px;
}
.container{
    height: 330px;
  width: 260px;
  /* border: 2px solid black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container input{
  width: 211px;
}
.container .first button{
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
}
.container .second button{
  background-color: red;
  border-radius: 5px;
}
.container .third  button{
background-color: blueviolet;
color: white;
border-radius: 5px;
}
#foot{
  height: 500px;
  width: 100vh;
  background-color: black;
}